PORT=5000
MONGODB_URI=mongodb+srv://fekaduguye_db_user:IPDzA0WN6EGt3oqE@cluster0.bkdxw2i.mongodb.net/Ketari?appName=Cluster0
JWT_SECRET=recruitai-jwt-secret-key-2024
JWT_EXPIRE=30d
NODE_ENV=development
